<% if @project && User.current.allowed_to?(:activate_billable, @project) %>
<p id='change_billable'>
  <%= label_tag('time_entry[billable]', l(:field_billable)) %>
  <%= select_tag('time_entry[billable]', content_tag('option', l(:label_no_change_option), value: '') +
                                         content_tag('option', l(:general_text_Yes), value: '1') +
                                         content_tag('option', l(:general_text_No), value: '0')) %>
</p>
<% end %>
