<p>
  <%= label_tag 'settings[currency]', l(:rate_label_currency) %>
  <%= select_tag 'settings[currency]',
      options_for_select(currency_codes_for_select, @settings['currency']) %>
</p>

<% html_title(l(:label_settings), l(:label_password_plural)) -%>
