/**********************************************************************/
/* ICONS
/**********************************************************************/
#admin-menu a.rate-caches { background-image: url(../images/database_refresh.png); }
