<div id="rate_history">
  <% if !User.current.admin?  &&  User.current.allowed_to?(:show_and_edit_rates, @project) %>

    <h1><%= l(:rate_label_new_rate) %></h1>

    <%= render partial: 'form' %>
  <% end %>

  <% if User.current.admin?  ||  User.current.allowed_to?(:show_and_edit_rates, @project) %>
  <h1><%= l :rate_label_rate_history %></h1>

  <%= render partial: 'list' %>
</div>
<%end%>
